#progress{
	height:1em;
	width:20em;
}
.preview{
	max-width:40em;
	max-height:20em;

}
.navbar-header > h3{
	color: white;
}
.navbar-right  img{
	margin-top: 0.5em;
	height:3em;
	vertical-align: middle;
}
.jumbotron{
	margin-top: 2em;
}

#secretOutput{
	display:none;
}